/* header */
.header {
  height: 250px;
  background-image: url("../images/search-img-sm.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--text-color);
  z-index: -1;
  opacity: 0.7;
}

.header .container {
  justify-content: space-between;
  height: 100%;
  padding-top: 2rem;
}

.header__logo {
  font-size: 3rem;
  color: var(--white);
  line-height: 1;
}

.header__logo i {
  color: var(--cta);
}

.header .btn--header span {
  margin-right: 0.3em;
}

/* header mq */
@media screen and (max-width: 500px) {
  .header {
    height: 300px;
  }
  .header .btn--header {
    align-self: flex-start;
  }

  .header .btn--header span {
    display: none;
  }
}

@media screen and (min-width: 978px) {
  .header {
    background-image: url("../images/search-img-lg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header .container {
    padding-top: 0;
  }

  .header__logo {
    font-size: 5rem;
  }

  .btn--header {
    font-size: 3.5rem;
    font-weight: 700;
  }
}

/* form */
.movie-form {
  top: -2rem;
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: space-between;

  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.movie-form__icon {
  font-size: 2rem;
  position: absolute;
  top: 30%;
  left: 2%;
  font-weight: 700;
}

.movie-form input {
  width: 80%;
  font-size: 1.3rem;
  padding: 1em 0 0.6em 2.5em;
  border: 0;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: none;
}

@media screen and (min-width: 978px) {
  .movie-form__icon {
    left: 1%;
    top: 33%;
  }

  .movie-form input {
    font-size: 1.5rem;
    padding: 1em 0 0.6em 3em;
  }
}

/* movies results list */
.movie-results {
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.movies-results__empty-box {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 4em;
}

.movies-results__empty-box p {
  font-size: 3.5rem;
  background-color: var(--text-color);
  color: var(--cta);
  width: 70px;
  height: 70px;
  margin-bottom: 1em;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.movies-results__title {
  font-size: 2.5rem;
  line-height: 1.2;
  text-align: center;
}

.movie-results__list {
  /* border: 1px solid; */
  margin: 4em 0 8em;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 2em;
}

.movie-results__movie {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em 0 4em;
}

.movie-results__movie:last-of-type {
  padding-bottom: 0;
}

.movie-results__movie:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.movie-results__img {
  border-radius: 3px;
  object-fit: cover;
  object-position: center;
}

.movie-results__title {
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 1.2;
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.movie-results__title-details {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  gap: 0.2em;
}

.movie-results__icon {
  display: inline-block;
  color: var(--cta);
}

.movie-results__rating {
}

.movie-results__info {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.movie-results__plot {
  font-size: 1rem;
}

@media screen and (max-width: 500px) {
  .movie-results__img {
    display: none;
  }
}

@media screen and (min-width: 501px) {
  .movie-results__img {
    width: 33%;
    height: 225px;
  }
}

@media screen and (min-width: 978px) {
  .movie-results__movie {
    gap: 4em;
  }

  .movie-results__title {
    font-size: 2.8rem;
  }

  .movie-results__title-details {
    font-size: 2.2rem;
  }

  .movie-results__img {
    width: 25%;
    height: 275px;
  }

  .movie-results__info,
  .movie-results__plot {
    font-size: 1.35rem;
  }

  .movie-results__info {
    width: 425px;
  }
}
