.center-flex {
  display: flex;
  align-items: center;
}

.btn--header,
.btn--header:link,
.btn--header:visited {
  padding: 0.5em 0.8em;
  font-size: 1.3rem;
  border-radius: 10rem;
  border: 1px solid var(--white);
  color: var(--white);
}

.btn--header:hover,
.btn--header:active,
.btn--header:focus {
  background-color: var(--cta);
  color: var(--text-color);
  border-color: var(--cta);
}

@media screen and (min-width: 978px) {
  .btn--header {
    font-size: 1.5rem !important;
    font-weight: 700;
  }
}

.btn--search {
  width: 20%;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--cta);
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.btn--search:hover,
.btn--search:focus {
  background-color: var(--text-color);
  color: var(--white);
}

/* btn watchlist */
.btn--watchlist {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.3em 0.5em;
  background-color: transparent;
  border: 1px solid;
  border-radius: 3px;
  background-color: var(--text-color);
  color: var(--white);
}

.btn--watchlist:hover,
.btn--watchlist:focus {
  background-color: var(--cta);
  color: var(--text-color);
}

@media screen and (min-width: 978px) {
  .btn--header {
    font-size: 1.5rem !important;
    font-weight: 700;
  }

  .btn--watchlist {
    padding: 0.6em 0.8em;
  }
}
