#watchlist .header {
  background-image: url("../images/watchlist-img-sm.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#watchlist .movie-results__list {
  gap: 6em;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#watchlist .movie-results__movie {
  flex-direction: column;
  background-color: var(--white);
  min-height: 430px;
  padding: 0 0 4em;
  border-radius: 3px;
  background-color: var(--text-color);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.09);
}

#watchlist .movie-results__img {
  display: block;
  width: 100%;
}

#watchlist .movie-results__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#watchlist .movie-results__title {
  text-align: center;
  padding: 0 0.3em 0.3em;
  color: var(--cta);
  margin-bottom: 1em;
}

#watchlist .btn--watchlist {
  padding: 0.6em 1em;
  font-size: 1.5rem;
}

@media screen and (min-width: 630px) {
  #watchlist .movie-results__list {
    flex-direction: row;
    justify-content: flex-start;
  }

  #watchlist .movie-results__movie {
    width: 46%;
  }
}

@media screen and (min-width: 1000px) {
  #watchlist .header {
    background-image: url("../images/watchlist-img-lg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #watchlist .movie-results__list {
    gap: 4em;
  }

  #watchlist .movie-results__movie {
    width: 31%;
  }

  #watchlist .movie-results__movie {
    margin-bottom: 2em;
  }

  #watchlist .movie-results__title {
    font-size: 2rem;
  }

  #watchlist .btn--watchlist {
    font-size: 1.2rem;
  }
}
